<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Responsive Navigation</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/custom.css" />
  </head>
  <body>
    <!-- NAVIGATION -->
    <div><%- include("../../partials/nav.ejs")%></div>

    <body>
      <div class="container-fluid">
        <div class="row">
          <div><%- include("../../partials/asides/production-aside") %></div>

          <!-- Main content area -->
          <main role="main" class="col-lg-9 px-4 m-auto pt-2">
            <section class="container mt-2">
              <%- include("../../partials/common/search-products-form", filterTypes)%>
            </section>

            <div>
              <%- include("../../partials/messages.ejs", {message: message,
              error_message: error_message})%>
            </div>
            <section class="mt-5">
              <!-- SECTION TO DISPLAY ALL PRODUCTS AND SEARCH TABLE -->
              <!-- TABLE -->
              <div class="table-responsive">
                <table class="table table-striped">
                  <thead class="thead-dark">
                    <!-- GET KEYS TO DISPLAY IN TITLES -->
                    <th class="text-uppercase text-center w-10">id</th>
                    <th class="text-uppercase text-center">nombre producto</th>
                    <th class="text-uppercase text-center">talla</th>
                    <th class="text-uppercase text-center w-10">Listar</th>
                  </thead>
                  <tbody>
                    <!-- DISPLAY DATA FOUND FOR SEARCH || ALL -->
                    <% products.forEach((product) => { %>
                    <tr>
                      <td class="text-center align-middle">
                        <%= product.pledge_id %>
                      </td>
                      <td class="text-center align-middle">
                        <%= product.pledge_name %>
                      </td>
                      <td class="text-center align-middle">
                        <%= product.size %>
                      </td>
                      <td class="text-center align-middle">
                        <form
                          class="form-inline"
                          method="GET"
                          action="/production/stock/add/"
                        >
                          <label
                            class="sr-only"
                            for="inlineFormInputGroupUsername2"
                            >Nuevos elementos</label
                          >
                          <!-- HIDDEN PRODUCT NAME -->
                          <input
                            type="text"
                            name="pledge_name"
                            value="<%= product.pledge_name %>"
                            hidden
                          />
                          <!-- PRODUCT ID HIDDEN -->
                          <input
                            type="number"
                            name="pledge_id"
                            value="<%= product.pledge_id %>"
                            hidden
                          />
                          <!-- PRODUCT SIZE HIDDEN -->
                          <input
                            type="text"
                            name="pledge_size"
                            value="<%= product.size %>"
                            hidden
                          />
                          <div class="input-group">
                            <input
                              type="number"
                              class="form-control"
                              id="inlineFormInputGroupUsername2"
                              name="quantity"
                              placeholder="0"
                              min="0"
                              max="99"
                              required
                            />
                            <button
                              type="submit"
                              class="btn btn-outline-primary mb-2"
                            >
                              +
                            </button>
                          </div>
                        </form>
                      </td>
                    </tr>
                    <% }) %>
                  </tbody>
                </table>
              </div>
            </section>
          </main>
        </div>
      </div>
    </body>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="/js/bootstrap.js"></script>
  </body>
</html>
